<!-- <div class="header-container">
  <div class="logo-container">
    <a (click)="toggleSidebar()" href="#" class="sidebar-toggle">
      <nb-icon icon="menu-2-outline"></nb-icon>
    </a>
    <a class="logo" href="#" (click)="navigateHome()">ngx-<span>admin</span></a>
  </div>
  <nb-select [selected]="currentTheme" (selectedChange)="changeTheme($event)" status="primary">
    <nb-option *ngFor="let theme of themes" [value]="theme.value"> {{ theme.name }}</nb-option>
  </nb-select>
</div>

<div class="header-container">
  <nb-actions size="small">

    <nb-action class="control-item">
      <nb-search type="rotate-layout"></nb-search>
    </nb-action>
    <nb-action class="control-item" icon="email-outline"></nb-action>
    <nb-action class="control-item" icon="bell-outline"></nb-action>
    <nb-action class="user-action" *nbIsGranted="['view', 'user']" >
      <nb-user [nbContextMenu]="userMenu"
               [onlyPicture]="userPictureOnly"
               [name]="user?.name"
               [picture]="user?.picture">
      </nb-user>
    </nb-action>
  </nb-actions>
</div> -->

<nav id="mainNavbar" class="navbar navbar-expand-lg-none fixed-top">

  <div class="row ps-2 w-100">

    <div class=" col-2  d-inherit d-md-none justify-content-center align-items-center">
      <button class="navbar-toggler" type="button" data-toggle="collapse"
        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
        aria-expanded="false" aria-label="Toggle navigation"
        (click)="toggleCollapsed()">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>

    <div class="col-10 col-md-5 d-flex gap-3">
      <div><img src="/assets/images/ContiLogo_image.png" alt="ContiLogo" width="160px" height="65x"></div>
      <div class="nav-title d-flex align-items-center"><span class="me-2 mb-1">|</span> FOC</div>
    </div>
    
    <div class="col-5 d-none d-md-block">
      <div class="nav-item d-flex mt-4 gap-3">
        <div class="nav-link" routerLink="/pages/foc-pages/dashboard" routerLinkActive="active"> Dashboard</div>
        <div class="nav-link ms-5" routerLink="/pages/foc-pages/foc-screen" routerLinkActive="active"  *ngIf="role == 'I'"> FOC Initial Screen</div>
      </div>
    </div>

    <div class="col-2 d-md-block d-none">

      <div [matMenuTriggerFor]="menu" class="menu-item d-flex align-items-center gap-2 mt-2">
        
        <div class="user-logo d-flex ms-5 justify-content-center align-items-center"> {{userFirstLetter}} </div>
        <div class="user-title d-flex align-items-center">{{user}}</div>

        <mat-menu #menu="matMenu" class="d-flex justify-content-center">
          <div class="mat-menu">
            <button mat-menu-item (click)="changePassword()">
              <mat-icon>account_circle</mat-icon>
              <div class="text">Change Password</div>
            </button>
            <button mat-menu-item (click)="logout()">
              <mat-icon>power_settings_new</mat-icon>
              <div class="text">Log Out</div>
            </button>
          </div>
        </mat-menu>

      </div>
    
    </div>

  </div>

    <div id="navbarSupportedContent"  [ngClass]="{'collapse': collapsed, 'navbar-collapse': true}">
      <div class="row d-inherit d-md-none nav-content justify-content-center gap-4 p-3">
        <div class="menu-link d-flex justify-content-center" routerLink="/pages/foc-pages/dashboard" routerLinkActive="active" (click)="toggleCollapsed()"> Dashboard</div>
        <div class="menu-link d-flex justify-content-center" routerLink="/pages/foc-pages/foc-screen" routerLinkActive="active"  *ngIf="role == 'I'" (click)="toggleCollapsed()"> FOC Initial Screen</div>
        <div class="menu-link d-flex justify-content-center"  routerLinkActive="active" (click)="changePassword()">Change Password</div>
        <div class="menu-link d-flex justify-content-center" routerLinkActive="active" (click)="logout()">Log Out</div>
      </div>
    </div>

</nav>
